body {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 14px;
}

p {
  background-color: #f05a3f;
  padding: 20px;
}
p:hover{
  cursor: pointer;
}
.gul{
  border:solid yellow 2px;
}
.bla{
  border:solid blue 2px;
}
